body
{
    background-image: url(../Images/river.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.heading1
{
    color:white;
    text-shadow : 2px 3px 5px yellow;
    text-align : center;
    font-size: 50px;
    font-family:sans-serif;
    margin: 15px;
}
.text
{
    color: white;
    padding: 20px;
    border: 2px solid white;
    background-color: #00000033;
    margin: 15px;
}