.hall{
    position: relative;
    height: 400px;
    width: 400px;
    top: 100px;
    left: 100px;
    background-color: gray;
}

#tv{
    position: absolute;
    height: 90px;
    width: 90px;
    top:5px;
    left: 150px;
    background-color: black;
    color: red;
    text-align: center;
}

#sofa{
    position: absolute;
    height: 90px;
    width: 90px;
    top:200px;
    left: 150px;
    background-color: chartreuse;
    color: chocolate;
    text-align: center;
}

#fridge{
    position: absolute;
    height: 90px;
    width: 90px;
    bottom:10px;
    right: 20px;
    background-color: orangered;
    color: aqua;
    text-align:center;
}